<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="logback.dir" value="D:\\logs"/>
    <property name="logback.name" value="ushare"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %p (%file:%line\)- %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="stdout" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logback.logdir}\\stdout.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logback.logdir}\\stdout-%d{yyyyMMdd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d %p (%file:%line\)- %m%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="common-error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logback.logdir}\\common-error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logback.logdir}\\common-error-%d{yyyyMMdd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d %p (%file:%line\)- %m%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="console"/>
    </root>

    <logger name="com.local.spc" level="DEBUG">
        <appender-ref ref="console"/>
        <appender-ref ref="stdout"/>
        <appender-ref ref="common-error"/>
    </logger>
</configuration>